body {
	background-color: #222831;
	--shadow-color: #393e46;
	--accent-color: #f96d00;
	--text-color: #f2f2f2;
	font-family: "Andale mono", monospace;
	color: var(--text-color);
	.game-area {
		display: flex;
		width: 500px;
		height: 300px;
		flex-wrap: wrap;
		gap: 10px;
	}

	.card {
		width: 70px;
		height: 70px;
		border-radius: 50%;
		font-size: 24px;
		justify-content: center;
		display: flex;
		flex-direction: column;
		align-content: center;
		text-align: center;

		.pile-size {
			font-size: 14px;
		}
	}
	.card.black {
		background-color: black;
		color: white;
	}
	.card.white {
		background-color: white;
		color: black;
	}
	.red-owned {
		border: 3px solid red;
	}
	.blue-owned {
		border: 3px solid blue;
	}
	.card.selected {
		border: 3px solid green;
	}
	.card.locked {
		border: 3px solid orchid;
	}

	.blue {
		background-color: blue;
	}
	.red {
		background-color: red;
	}
}
